<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appleId</key>
	<string>libert@russia.com</string>
	<key>artistId</key>
	<integer>427948433</integer>
	<key>artistName</key>
	<string>VKontakte</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>14249383</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleDisplayName</key>
	<string>VK</string>
	<key>bundleShortVersionString</key>
	<string>2.2.1</string>
	<key>bundleVersion</key>
	<string>18</string>
	<key>copyright</key>
	<string>2015 VK</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>Социальные сети</string>
	<key>genreId</key>
	<integer>6005</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>564177498</integer>
	<key>itemName</key>
	<string>VK</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>VKontakte</string>
	<key>playlistName</key>
	<string>VK</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2009-08-26T19:12:18Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Редко/умеренно встречающиеся сцены мультипликационного или фэнтезийного насилия , Неограниченный доступ к Сети , Редко/умеренно встречающиеся материалы, предназначенные только для взрослых , Часто/очень часто встречающиеся сцены сексуального или эротического характера , Advisory.NO.GAMBLING_CONTESTS , Редко/умеренно встречающиеся сцены реалистичного насилия , Редко/умеренно встречающиеся сквернословие или грубый юмор and Редко/умеренно встречающиеся материалы, вызывающие ужас или страх</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-10-04T00:12:14Z</string>
	<key>s</key>
	<integer>143469</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a219.phobos.apple.com/us/r30/Purple1/v4/ce/9f/cd/ce9fcd1b-cc39-7e7d-ffea-b3400039635f/AppIcon57x57.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.vk.vkclient</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>811972181</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>10968675</integer>
		<integer>11487650</integer>
		<integer>12169665</integer>
		<integer>12445840</integer>
		<integer>13030036</integer>
		<integer>13134049</integer>
		<integer>14328919</integer>
		<integer>15374835</integer>
		<integer>16081086</integer>
		<integer>21292670</integer>
		<integer>44562651</integer>
		<integer>166062632</integer>
		<integer>321963319</integer>
		<integer>674562725</integer>
		<integer>811972181</integer>
	</array>
	<key>storeCohort</key>
	<string>3|date=1354894200000&amp;sf=143469</string>
	<key>userName</key>
	<string></string>
	<key>vendorId</key>
	<integer>536513</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
